<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>Droplet -App landing page</title>

    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- CSS
  ================================================== -->
    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- Elegant icon font -->
     <link rel="stylesheet" href="css/line-icons.min.css">
    <!-- Animation -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Prettyphoto -->
    <link rel="stylesheet" href="css/prettyPhoto.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.css">
    <!-- Scrolling nav css -->
    <link rel="stylesheet" href="css/scrolling-nav.css">
    <!-- Template styles-->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive styles-->
  <link rel="stylesheet" href="css/responsive.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body data-spy="scroll" data-target=".navbar-fixed-top" >
    
<!-- Header start -->
  <header id="header" role="banner" >
    <nav class="navbar navbar-default navbar-fixed-top"  id="tf-menu">
      <div class="container">
        <div class="row">
          <!-- Logo start -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <div class="navbar-brand">
                <a href="#" class="page-scroll">
                <button type="button" class="btn btn-lg btn-default">LINE DDD</button>
                            </a> 
              </div>                   
          </div><!--/ Logo end -->
          <div class="collapse navbar-collapse clearfix navMenu" role="navigation">
            <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a class="page-scroll" href="#header" >Top</a></li>
                    <li><a class="page-scroll" href="#purpose0" >活動目的</a></li>
                    <li><a class="page-scroll" href="#rule0" >比賽規則</a></li>
                    <li><a class="page-scroll" href="#reward" >獎勵辦法</a></li>
                    <li><a class="page-scroll" href="#information" >報名資訊</a></li>
                            <li><a class="page-scroll" href="#works" >參賽作品</a></li>
                    <li><a class="page-scroll" href="#contact" >聯絡我們</a></li>
                    <li><a class="page-scroll" href="#clients" >贊助廠商</a></li>
                </ul>
              </div><!--/ Navigation end -->
        </div><!--/ Row end -->
      </div><!--/ Container end -->
    </nav>
  </header><!--/ Header end -->
    <!-- END MAIN NAV -->

     <!-- slider section -->
    <section class="slider">
        <div class="slider-wrap">
            <div class="texture-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-11">
                        <div class="slider-img pull-right hidden-xs">
                            <img src="images/title.jpg" alt=""/>
                        </div>
                    </div>
                   
                </div>
            </div> <!-- row end  -->
        </div> <!-- container end  -->
    </section>
    <!-- slider section end -->
   
    <!-- Section purpose start -->
    <section id="purpose0"></section>
    <br>
    <section id="purpose">
      <div class="container">
        <div class="row">
          <div class="heading-inner text-center">
            <h2 class="sec-title">活動目的</h2>
            <p>Vero doloribus dignissimos, unde architecto sapiente ea expedita non magnam aliquam.</p>
          </div>
        </div> <!-- heading row end -->
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="row">
            <div class="col-md-12 wow slideInLeft" data-wow-delay=".3s">
              <div class="about-inner ">
                              <i class="icon icon-adjustments"></i>
                              <div class="about-content">
                                  <h4>尋找3D設計天才</h4>
                                  <p> Architecto provident eaque mollitia, et repellendus commodi dignissimos aspernatur.et repellendus commodi dignissimos aspernatur.</p>
                              </div>
                          </div>
            </div>
            <div class="col-md-12  wow slideInLeft" data-wow-delay=".5s">
              <div class="about-inner ">
                              <i class="icon icon-heart"></i>
                              <div class="about-content">
                                  <h4>增加台灣子民對3D設計之了解</h4>
                                  <p> Architecto provident eaque mollitia, et repellendus commodi dignissimos aspernatur.et repellendus commodi dignissimos aspernatur.</p>
                              </div>
                          </div>
            </div>
          </div> <!-- row end -->
                </div>

                <div class="col-md-4 col-sm-4 col-xs-4 visible-md visible-lg wow fadeInDown" data-wow-delay=".3s">
                    <img src="images/sec-img/img3.png" alt="" class="img-responsive">
                </div>

                <div class="col-md-4 col-sm-6">
                  <div class="row">
            <div class="col-md-12 wow slideInRight" data-wow-delay=".3s">
              <div class="about-inner ">
                              <i class="icon icon-lightbulb"></i>
                              <div class="about-content">
                                  <h4>宣傳LINEDDD</h4>
                                  <p> Architecto provident eaque mollitia, et repellendus commodi dignissimos aspernatur.et repellendus commodi dignissimos aspernatur.</p>
                              </div>
                          </div>
            </div>
            <div class="col-md-12 wow slideInRight" data-wow-delay=".5s">
              <div class="about-inner ">
                              <i class="icon icon-presentation"></i>
                              <div class="about-content">
                                  <h4>吸引消費者前來花錢購買設計圖</h4>
                                  <p> Architecto provident eaque mollitia, et repellendus commodi dignissimos aspernatur.et repellendus commodi dignissimos aspernatur.</p>
                              </div>
                          </div>
            </div>
          </div> <!-- row end -->
                </div>
      </div><!-- row end -->
      </div><!-- container end -->
    </section>
    <!-- Section purpose end -->
    
    
    
    <!-- section rule start -->
    <section id="rule0"></section>
    <br>
  <section id="rule">
    <div class="container">
      <div class="row">
          <div class="heading-inner text-center">
            <h2 class="sec-title">比賽規則</h2>
                     
            <p>Vero doloribus dignissimos, unde architecto sapiente ea expedita non magnam aliquam.</p>
          </div>
        </div> <!-- heading row end -->
      <div class="row">
          <div class="feature-wrapper text-center">
            <div class="col-md-3 col-sm-6 col-xs-12 feature-bg wow fadeInUp" data-wow-delay=".3s">
              <div class="feature-inner text-center">
                            <div class="icon-box">
                                <i class="icon icon-basket"></i>
                            </div>
                
                <div class="feature-content">
                  <h3>Unique features</h3>
                  <p>Odit temporibus, reprehenderit eum.</p>
                  <a href="#" class="read-more">Read more</a>
                </div>
              </div>
            </div> <!-- item1 end -->
            <div class="col-md-3 col-sm-6 col-xs-12 feature-bg white wow fadeInUp" data-wow-delay=".5s">
              <div class="feature-inner text-center">
                            <div class="icon-box">
                  <i class="icon icon-genius"></i>
                            </div>
                <div class="feature-content">
                  <h3>Powerful code</h3>
                  <p>Odit temporibus, reprehenderit eum.</p>
                  <a href="#" class="read-more">Read more</a>
                </div>
              </div>
            </div> <!-- item2 end -->
            <div class="col-md-3 col-sm-6 col-xs-12 feature-bg wow fadeInUp" data-wow-delay=".7s">
              <div class="feature-inner text-center">
                            <div class="icon-box">
                  <i class="icon icon-presentation"></i>
                            </div>
                <div class="feature-content">
                  <h3>Creative Design</h3>
                  <p>Odit temporibus, reprehenderit eum.</p>
                  <a href="#" class="read-more">Read more</a>
                </div>
              </div>
            </div> <!-- item3 end -->
            <div class="col-md-3 col-sm-6 col-xs-12 feature-bg white wow fadeInUp" data-wow-delay=".9s">
              <div class="feature-inner text-center">
                            <div class="icon-box ">
                  <i class="icon icon-tools"></i>
                            </div>
                <div class="feature-content">
                  <h3>Friendly Support</h3>
                  <p>Odit temporibus, reprehenderit eum.</p>
                  <a href="#" class="read-more">Read more</a>
                </div>
              </div>
            </div> <!-- item4 end -->
          </div><!-- feature-wrapper end -->
        </div><!-- row end -->
    </div>  <!-- container end -->
  </section>
  <!-- section rule end -->
    
    
    <!-- section reward start -->
  <section id="reward">
    <div class="container">
      <div class="row">
          <div class="heading-inner text-center">
            <h2 class="sec-title">獎勵辦法</h2>
                     
            
          </div>
        </div> <!-- heading row end -->
      
    </div>  <!-- container end -->
  </section>
  <!-- section reward end -->
    
    
    <!-- section information start -->
  <section id="information">
    <div class="container">
      <div class="row">
          <div class="heading-inner text-center">
            <h2 class="sec-title">報名資訊</h2>
                     
            
          </div>
        </div> <!-- heading row end -->
      
    </div>  <!-- container end -->
  </section>
  <!-- section information end -->
  

    

  <!-- scetion works start -->
  <section id="works">
    <div class="container">
      <div class="row">
          <div class="heading-inner text-center">
            <h2 class="sec-title">參賽作品</h2>
                     
            <p>Vero doloribus dignissimos, unde architecto sapiente ea expedita non magnam aliquam.</p>
          </div>
        </div> <!-- heading row end -->

      <div class="row">
        <div class="carousel slide" id="app-carousel" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#app-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#app-carousel" data-slide-to="1"></li>
                      </ol>
          <div class="carousel-inner">
            <div class="item active">
                            <div class="row">
                                <div class="col-xs-12 col-sm-3 col-md-3"> 
                                    <div class="thumbnail">
                                        <div class="caption">
                                            <div class="caption-content">
                                                <a data-rel="prettyPhoto" href="images/overview/screen1.jpg" > <i class="fa fa-link"></i></a>
                                            </div>
                                        </div>
                                         <img src="images/overview/screen1.jpg" alt="" class="img-responsive">
                                    </div>
                                </div> <!-- col end -->
                                <div class="col-xs-12 col-sm-3 col-md-3"> 
                                    <div class="thumbnail">
                                        <div class="caption">
                                            <div class="caption-content">
                                                <a data-rel="prettyPhoto" href="images/overview/screen2.jpg"> <i class="fa fa-link"></i></a>
                                            </div>
                                        </div>
                                         <img src="images/overview/screen2.jpg" alt="" class="img-responsive">
                                    </div>
                                </div> <!-- col end -->
                                <div class="col-xs-12 col-sm-3 col-md-3"> 
                                    <div class="thumbnail">
                                        <div class="caption">
                                            <div class="caption-content">
                                                <a data-rel="prettyPhoto" href="images/overview/screen3.jpg"> <i class="fa fa-link"></i></a>
                                            </div>
                                        </div>
                                         <img src="images/overview/screen3.jpg" alt="" class="img-responsive">
                                    </div>
                                </div> <!-- col end -->
                                <div class="col-xs-12 col-sm-3 col-md-3"> 
                                    <div class="thumbnail">
                                        <div class="caption">
                                            <div class="caption-content">
                                                <a data-rel="prettyPhoto" href="images/overview/screen4.jpg"> <i class="fa fa-link"></i></a>
                                            </div>
                                        </div>
                                         <img src="images/overview/screen4.jpg" alt="" class="img-responsive">
                                    </div>
                                </div> <!-- col end -->
                            </div> <!-- row end -->
                        </div> <!-- item end -->

                        <div class="item ">
                            <div class="row">
                                <div class="col-xs-12 col-sm-3 col-md-3"> 
                                    <div class="thumbnail">
                                        <div class="caption">
                                            <div class="caption-content">
                                                <a data-rel="prettyPhoto" href="images/overview/screen5.jpg"> <i class="fa fa-link"></i></a>
                                            </div>
                                        </div>
                                         <img src="images/overview/screen5.jpg" alt="" class="img-responsive">
                                    </div>
                                </div> <!-- col end -->
                                <div class="col-xs-12 col-sm-3 col-md-3"> 
                                    <div class="thumbnail">
                                        <div class="caption">
                                            <div class="caption-content">
                                                <a data-rel="prettyPhoto" href="images/overview/screen6.jpg"> <i class="fa fa-link"></i></a>
                                            </div>
                                        </div>
                                         <img src="images/overview/screen6.jpg" alt="" class="img-responsive">
                                    </div>
                                </div> <!-- col end -->
                                <div class="col-xs-12 col-sm-3 col-md-3"> 
                                    <div class="thumbnail">
                                        <div class="caption">
                                            <div class="caption-content">
                                                <a data-rel="prettyPhoto" href="images/overview/screen7.jpg"> <i class="fa fa-link"></i></a>
                                            </div>
                                        </div>
                                         <img src="images/overview/screen7.jpg" alt="" class="img-responsive">
                                    </div>
                                </div> <!-- col end -->
                                <div class="col-xs-12 col-sm-3 col-md-3"> 
                                    <div class="thumbnail">
                                        <div class="caption">
                                            <div class="caption-content">
                                                <a data-rel="prettyPhoto" href="images/overview/screen8.jpg"> <i class="fa fa-link"></i></a>
                                            </div>
                                        </div>
                                         <img src="images/overview/screen8.jpg" alt="" class="img-responsive">
                                    </div>
                                </div> <!-- col end -->
                            </div> <!-- row end -->
                        </div> <!-- item end -->
                        
                       
          </div> <!-- carousel-inner end -->
          <!-- Controls -->
            <a class="left carousel-control" href="#app-carousel" role="button" data-slide="prev">
              <span aria-hidden="true"><img src="images/arrow-left.png" alt=""></span>
            </a>
            <a class="right carousel-control" href="#app-carousel" role="button" data-slide="next">
              <span  aria-hidden="true"> <img src="images/arrow-right.png" alt=""></span>
            </a>
        </div>
      </div> <!-- row end  -->
    </div>  <!-- container end  -->
  </section>
  <!-- scetion works end -->
  

  

  <!-- section Contact start -->
  <section id="contact" >
    <div class="bg-overlay pattern"></div>
    <div class="container">
      <div class="col-md-12">
          <div class="heading-inner text-center">
            <h2 class="sec-title">聯絡我們</h2>
                    <div class="line-btm c-white"></div>
            <p>有任何疑問歡迎來信詢問，我們會盡快為您服務</p>
          </div>
        </div> <!-- heading row end -->

      <div class="row">
        <div class="col-md-12">
          <form class="contact-inner">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label > 姓名(name)</label>
                  <input type="text" class="form-control" placeholder="your name">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label > 電子郵件 (Email)</label>
                  <input type="text" class="form-control" placeholder="your email">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label > 主旨 (Subject)</label>
                  <input type="text" class="form-control" placeholder="subject">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label > 訊息 (mesaage)</label>
                  <textarea name="" id="" cols="30" rows="8" class="form-control" placeholder="message"></textarea>
                </div>
              </div>
            </div> <!-- row end -->
            <div class="row">
              <div class="col-md-12 text-center">
                <button class="btn btn-default">送出 (Submit message)</button>
              </div>
            </div>
          </form>
        </div>
      </div><!-- row end -->
    </div><!-- container end -->
  </section>
  <!-- section Contact end -->

  <!-- section Footer start  -->
  <section id="clients" class="clients landing_page_clients">
    <div class="container">
      <div class="row wow fadeInLeft">
        <div class="col-md-12 col-xs-12">
          <div id="client-carousel" class=" owl-carousel owl-theme text-center client-carousel">
            <figure class="item client_logo"> <a href="#"> <img src="images/clients/client1.png" alt="client"> </a> </figure>
            <figure class="item client_logo"> <a href="#"> <img src="images/clients/client2.png" alt="client"> </a> </figure>
            <figure class="item client_logo"> <a href="#"> <img src="images/clients/client3.png" alt="client"> </a> </figure>
            <figure class="item client_logo"> <a href="#"> <img src="images/clients/client4.png" alt="client"> </a> </figure>
            <figure class="item client_logo"> <a href="#"> <img src="images/clients/client5.png" alt="client"> </a> </figure>
            <figure class="item client_logo"> <a href="#"> <img src="images/clients/client6.png" alt="client"> </a> </figure>
            <figure class="item client_logo"> <a href="#"> <img src="images/clients/client7.png" alt="client"> </a> </figure>
            <figure class="item client_logo"> <a href="#"> <img src="images/clients/client8.png" alt="client"> </a> </figure>
            </div>
          <!-- Owl carousel end -->
          </div>
        <!-- col-md-12 end -->
        </div>
      <!-- Content row end -->
      </div>
    <!--/ Container end -->
  </section>
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="footer-content text-center">
            <a href="#slider-part" class="page-scroll logo-title">
              <img src="images/line135x55.jpg" alt="" class="img-responsive">
            </a>
            <ul class="footer-socail list-inline">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-6 col-lg-12">
              <div class="copyright">
                <center><p>&copy; copyright reserved to <span>LINE DDD</span> - 2016</p></center>
              </div>
            </div>
            
          </div>
        </div>
      </div> <!-- row end  -->
    </div> <!-- container end  -->
  </footer>
  <!-- section Footer end  -->

  
  <!-- Back To Top Button -->
    <div id="back-top">
        <a href="#header" class="page-scroll btn btn-primary" ><i class="fa fa-angle-double-up"></i></a>
    </div>
    <!-- End Back To Top Button -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://ajax.useso.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- initialize jQuery Library -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <!-- Bootstrap jQuery -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- Style Switcher -->
    <script type="text/javascript" src="js/isotope.js"></script>
    <!-- Owl Carousel -->
    <script type="text/javascript" src="js/owl.carousel.js"></script>
    <!-- PrettyPhoto -->
    <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
    <!-- Isotope -->
    <script type="text/javascript" src="js/isotope.js"></script>
    <!-- Wow Animation -->
    <script type="text/javascript" src="js/wow.min.js"></script>
    <!-- SmoothScroll -->
    <script type="text/javascript" src="js/smooth-scroll.js"></script>
    <!-- Eeasing -->
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <!-- Counter -->
    <script type="text/javascript" src="js/jquery.counterup.min.js"></script>
    <!-- Waypoints -->
    <script type="text/javascript" src="js/jquery.waypoints.min.js"></script>
    <!-- Scrolling navigation -->
    <script type="text/javascript" src="js/scrolling-nav.js"></script>
    <!-- Google Map API Key Source -->
    
    <!-- Custom js -->
    <script type="text/javascript" src="js/custom.js"></script>
  <script>
    new WOW().init();
  </script>
    <script>
        
   $('.counter').counterUp({
            delay: 100,
            time: 2000
        });
    </script>
  </body>
</html>

<script>
  $('img.a').hover(
    function(){
      $(this).stop().animate({"opacity":"0"},"fast"),
      $('img.b').stop().animate({"opacity":"1"},"fast")
    },
    function(){
      $(this).stop().animate({"opacity":"1"},"fast"),
      $('img.b').stop().animate({"opacity":"0"},"fast")
    }
  )
</script>
