<div class="language center">
  <div class="container-fluid language_holder" style="position: relative;">
    <h1>選擇語言 CHOOSE YOUR LANGUAGE</h1>
    <br>
    <ul style="list-style: none">
      <li>
        <%= link_to 'English',language_path(:language => "en"),:method => :post, class:"languagebutton" %>
      </li>
      <li>
        <%= link_to '简体中文',language_path(:language => "en"),:method => :post, class:"languagebutton" %>
      </li>
      <li>
        <%= link_to '繁體中文',language_path(:language => "en"),:method => :post, class:"languagebutton" %>
      </li>
    </ul>
  </div>
</div>

<script>
  $('.navbar-default').css('display','none');
</script>