<h3 class="center">確認報名</h3>
<hr class="hr">
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <tbody>
      <table class="table table-hover">
        <tr>
          <td>報名者姓名</td>
          <td><%= @register.name %></td>
        </tr>
        <tr>
          <td>E-mail</td>
          <td><%= @register.email %></td>
        </tr>
      </table>
    </tbody>

    <%= ez_allpay_for @register, :setting => { :value => "付款", :css => "btn btn-lg btn-success" } do %>
      <% attr_instead :MerchantTradeNo => @register.merchant_trade_no %>
      <% attr_instead :MerchantTradeDate => @register.created_at.strftime("%Y/%m/%d %T") %>
      <% attr_instead :PaymentType => "aio" %>
      <% attr_instead :ChoosePayment => "Credit" %>
      <% attr_instead :TotalAmount => "300" %>
      <% attr_instead :TradeDesc => "報名費300" %>
      <% attr_instead :ItemName => "LINE 3D 3D列印競賽" %>
      <% attr_instead :ClientBackURL => "http://localhost:3000/registers/#{@register.id}" %>
      <% attr_instead :ReturnURL => "http://localhost:3000/notify" %>
    <% end %>

  </div>
</div>