<h3 class="center">報名查詢</h3>
<hr class="hr">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@email) do |f| %>
      <%= f.label :email,"請輸入E-mail" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.submit "查詢", class: "btn btn-lg btn-success" %>
    <% end %>
  </div>
</div>