@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@font-face{
  font-family: 'FuturaT_Bold';
  src: url('/assets/FuturaT_Bold.ttf');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family: 'Helvetica';
  src: url('/assets/Helvetica.otf');
  font-weight:bolder;
  font-style:normal;
}

/* universal */

body{
  font-family:Microsoft JhengHei;
  padding-top: 80px;
  #add_image{
    background:url('IMAG01.jpg') no-repeat fixed 50% 50%;
    background-size:cover;
    -webkit-filter: grayscale(0.6);
    filter: opacity(0.7);
    .signupbottom{
      margin:4vw 0vw 400px 0vw;
      background-color:#73BF00;
      font-family:Helvetica;
    }
  }
}

img.a{
  position:absolute;
  z-index:10;
}
img.b{
  opacity: 0;
}

img.largeimage{
  position: absolute;
  opacity: 0;
  z-index: -1;
}

textarea{
  resize: vertical;
}

.center{
  text-align: center;
}

.center h1{
  margin-bottom: 10px;
}

.hr{
  height:1px;
  background-color:#BEBEBE;
  width:80%;
}

.triangle{
  width:0px; height:0px; border-width:8px 5px 8px 5px;border-style:solid; border-color:transparent transparent black transparent;
}

.invertedtriangle{
  width:0px; height:0px; border-width:8px 5px 8px 5px;border-style:solid; border-color:black transparent transparent transparent;
}

html{
  -webkit-font-smoothing: antialiased;
}

/* language */

.language{
  background: url('IMAG01.jpg') no-repeat fixed 50% 50%;
  background-size:cover;
  color: white;
  margin-top: -100px;
  overflow: hidden;
  .language_holder{
    top:250px;
    position: relative;
    height:700px;
    width: 100vw;
    .languagebutton{
      font-size:30px;
      text-decoration:none;
      color:white;
    }
  }
}

/* header */

.navbar-default{
  transition: .5s;
  background: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
  color:#FFF;
  border-radius:0px;
  height:100px;
  .in{
    background: rgba(0,0,0,.5);
  }
  .collapsing{
    background: rgba(0,0,0,.5);
  }
  img{
    position:absolute;
    transition: .5s;
    content:url('logo.png');
    width:250px;height:auto;
    padding:40px 0 0 40px;
    @media(max-width:768px){
      padding:10px 0 0 10px;
      width:200px;
    }
  }
  .navbar-right{
    transition: .5s;
    padding-top:60px;
    padding-right:20px;
  }
  .open .dropdown-menu{
    background-color:white;
  }
  @media(max-width:768px){
    .navbar-toggle{
      transition: .5s;
      border-radius:0px;
      color:white;
      margin:50px;
      .icon-bar{
        background:white;
      }
    }
    .navbar-toggle:hover{
      background:rgba(0,0,0,0);
    }
    .navbar-toggle:focus{
      background:rgba(0,0,0,0);
    }
  }
}

.on{
  background: rgba(0,0,0,.5);
  height:70px;
  img{
    padding:5px 0 0 5px;
    width:130px;height:auto;
  }
  .navbar-right{
    padding-top:10px;
    padding-right:20px;
  }
  @media(max-width:768px){
    .navbar-toggle{
      border-radius:0px;
      color:white;
      margin:20px;
    }
  }
}

.navbar-default .navbar-nav > li > a{
  color: #FFF;
  font-size: 18px;
}
.navbar-default .navbar-nav > li > a:hover{
  color: #FFF;
}
.navbar-default .navbar-nav > li > a:focus{
  color: #FFF;
}

#logo{
  float:left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #5B5B5B;
  letter-spacing:-1px;
  padding-top: 9px;
  font-weight: bold;
}

/* footer */

.footer{
  .footer_holder{
    overflow:hidden;
    line-height:70%;
    padding: 60px;
    background-color:#272727;
    @media(max-width:768px){
      padding: 20px;
    }
    .footer_upcontainer{
      @media(max-width:768px){
        text-align:center;
        padding-top:30px;
      }
    }
    .footer_text{
      @media(min-width:768px){
        position: absolute;
      }
      @media(max-width:768px){
        display:inline-block;
      }
      text-align:left;
      color:white;
      font-weight:700;
    }
    .footer_img{
      background:url('footerlogo.png') no-repeat 50% 50%;
      background-size:contain;
      text-align: center;
      padding: 100px 0 150px 0;
      display:inline-block;
      width:400px;
      @media(max-width:768px){
        width:300px;
      }
    }
    .footer_icon{
      text-align: center;
      display:block;
      font-size: 30px;
      color:white;
    }
    .footer_socialicon{
      @media(min-width:768px){
        text-align: right;
      }
      @media(max-width:768px){
        display:inline-block;
        padding-top:40px;
      }
    }
    .footer_socialicon > a{
      text-decoration:none;
      padding:5px;
    }
    .footer_socialicon > a > i{
      cursor:pointer;
      transition: .5s;
      color:white;
      font-size: 40px;
      border-style:solid;
      width: 60px;
      height: 60px;
      text-align: center;
      display: inline-block;
      padding: 10px;
    }
    .footer_socialicon > a > .fa-facebook:hover{
      background:rgba(59,89,152,1);
    }
    .footer_socialicon > a > .fa-twitter:hover{
      background:#4099FF;
    }
    .footer_socialicon > a > .fa-youtube:hover{
      background: #c4302b;
    }
    .footer_socialicon > a > .fa-instagram:hover{
      background:#3f729b;
    }
    .languageselect{
      padding:30px;
      color:white;
      position:relative;
      text-align: right;
      @media(max-width:768px){
        text-align: center;
      }
      .languagebutton{
        color:white;
        text-decoration:none;
        padding-left:20px;
      }
    }
  }
}

/* intro */

.intro{
  padding:100px 0px 50px 0px;
  .bgtext{
    transition: 1.5s;
    font-size: 350px;
    font-family:FuturaT_Bold;
    text-transform:uppercase;
    color:red;
    opacity:.9;
  }
  .intro_holder{
    height:900px;
    position: relative;
    overflow:hidden;
  }
  .text_holder{
    position: absolute;
    transition: 3s;
  }
  .introtext{
    z-index:3;
    position: relative;
    top:28%;
    @media(min-width:768px){
      top:32%;
    }
  }
  .vertical_text{
    transform:matrix(0,1,-1,0,0,0);
    .bgtext{
      position:relative;
      color:yellow;
      font-size: 300px;
    }
  }
  .slideright{
    top:-100px;
    -webkit-transform: translate3d(-2500px,0,0);
    transform: translate3d(-2500px,0,0);
  }
  .slideleft{
    top:400px;
    -webkit-transform: translate3d(1500px,0,0);
    transform: translate3d(1500px,0,0);
    @media(min-width:1500px){
      -webkit-transform: translate3d(2000px,0,0);
      transform: translate3d(2000px,0,0);
    }
  }
  .slideup{
    -webkit-transform: translate3d(0,1500px,0);
    transform: translate3d(0,1500px,0);
    .vertical_text > .bgtext{
      top:5vw;
    }
  }
  .active{
    .slideright{
      -webkit-transform: translate3d(-600px,0,0);
      transform: translate3d(-600px,0,0);
    }
    .slideleft{
      -webkit-transform: translate3d(-1000px,0,0);
      transform: translate3d(-1000px,0,0);
      @media(min-width:1500px){
        -webkit-transform: translate3d(-500px,0,0);
        transform: translate3d(-500px,0,0);
      }
    }
    .slideup{
      -webkit-transform: translate3d(0,100px,0);
      transform: translate3d(0,200px,0);
    }
  }
  div > h1{color:black;font-weight:900;}
  div > h4{color:black;font-weight:900;}
  div > .slideright{
    display: inline-block;
  }
}

/* process */

.process{
  height:800px;
  .process_panel{
    font-family:Microsoft JhengHei;
    position:relative;
    color:white;
    @media(min-width:992px){
      h1{transition: .5s;}
      h3{transition: .5s;opacity:0;}
    }
    .thinking{background:url('thinking.jpg') no-repeat 50% 50%;}
    .register{background:url('design.jpg') no-repeat 50% 50%;}
    .upload{background:url('upload.jpg') no-repeat 50% 50%;}
    .actualize{background:url('achieve.jpg') no-repeat 50% 50%;}
    .process_gray{
      transition: .5s;
      background:rgba(0,0,0,.5);
      height:200px;
    }
    @media(min-width:992px){
      .process_Holder:hover{
        .process_gray{
          background:rgba(0,0,0,.2);
        }
        h1{
          -webkit-transform: translate3d(-350px, 0, 0);
          transform: translate3d(-350px, 0, 0);
        }
        h3{
          -webkit-transform: translate3d(0, -50px, 0);
          transform: translate3d(0, -50px, 0);
          opacity:1;
        }
      }
    }
    @media(max-width:991px){
      h1{
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
      }
      h3{
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
      }
    }
    .process_Holder{
      background-size: cover;
      position:relative;
      height:200px;
    }
  }
  .process_text{
    position: absolute;
    vertical-align:middle;
    display:table-cell;
    top:30%;
    width:100%;
  }
}

/* purpose */

.purpose{
  height:1100px;
  position: relative;
  color:#FF2D2D;
  overflow:hidden;
  font-weight: 900;
  font-family:Helvetica;
  font-size:350px;
  @media(max-width:992px){
    font-size:300px;
  }
  #container{
    position:relative;
    margin: 0 auto;
    text-align:left;
    width:992px;
    @media(max-width:992px){
      width:768px;
    }
  }
  .d1,.d2,.d3{
    position: absolute;
    transition: .5s;
  }
  .d1{
    top:50px;
    left:370px;
    @media(max-width:992px){
      left:276px;
    }
  }
  .d2{
    top:500px;
    left:0px;
  }
  .d3{
    top:500px;
    left:740px;
    @media(max-width:992px){
      left:552px;
    }
  }
  a{
    position: absolute;
    display: inline-block;
    outline: none;
    text-decoration: none;
    color: #000;
    font-size: 32px;
    padding: 5px 10px;
  }
  .fadein{
    opacity:0;
  }
  .standby{
    transition: 1s;
    .d1{
      top:0px;
      left:0px;
    }
    .d2{
      top:300px;
    }
    .d3{
      top:600px;
      left:0px;
    }
  }
  .d1::after,.d2::after,.d3::after{
    opacity:1;
    transition: .5s;
    top:150px;
    left: 260px;
    position: absolute;
    font-size:200px;
    @media(max-width:992px){
      font-size:170px;
      top:130px;
      left: 220px;
    }
  }
  .d1::after{
    content:"esign";
  }
  .d2::after{
    content:"ream";
  }
  .d3::after{
    content:"iscover";
  }
  .hiddenleft{
    .d1::after,.d2::after,.d3::after{
      opacity:0;
      left: 0px;
    }
  }
  .hiddenright{
    .d1::after,.d2::after,.d3::after{
      opacity:0;
      left: 520px;
    }
  }
  .transform{
    .d1{
      -webkit-transform:matrix(1.1,0.6,-0.9,0.4,-5,0);
      top:150px;
      left:370px;
      @media(max-width:992px){
        top:150px;
        left:276px;
      }
    }
    .d2{
      -webkit-transform:matrix(1.0,0.5,0.0,1.0,0,-40);
      top:360px;
      left:280px;
      @media(max-width:992px){
        top:340px;
        left:200px;
      }
    }
    .d3{
      -webkit-transform:matrix(1.0,-0.5,0.0,1.0,0,0);
      top:350px;
      left:470px;
      @media(max-width:992px){
        top:330px;
        left:360px;
      }
    }
  }
  a:before { position: absolute;content: "\5B";opacity:0;left:0; transition: .5s;}
  a:after { position: absolute;content: "\5D";opacity:0;right:0; transition: .5s;}
  a:hover::before { content: "\5B"; left: -20px;opacity:1; }
  a:hover::after { content: "\5D"; right: -20px;opacity:1; }
}

/* works */

.works{
  position: relative;
  overflow:hidden;
  @media(max-width:11400px){
    height:83.33vw;
  }
  @media(max-width:992px){
    height:175vw;
  }
  @media(max-width:768px){
    height:600vw;
  }
  margin:0 0 100px 0;
  .bg_holder{
    transition: .5s;
  }
  .image_border{
    position: absolute;
    overflow: hidden;
  }
  .image_holder{
    position: absolute;
    transition: .5s;
  }
  a{
    text-decoration:none;
    color:#FFF;
  }
  .text_holder{
    position: relative;
    transition: .5s;
    opacity:0;
    background:rgba(0,0,0,.6);
    font-family:Microsoft JhengHei;
    color:white;
    display:table-cell;
    vertical-align: middle;
    line-height:110%;
    letter-spacing:.2em;
    span{
      color:yellow;
    }
    @media(max-width:11400px){
      h1{font-size:3vw;}
      h4{font-size:1.5vw;}
      .icon{font-size:2vw;}
    }
    @media(max-width:992px){
      h1{font-size:6vw;}
      h4{font-size:3vw;}
      .icon{font-size:4vw;}
    }
    @media(max-width:768px){
      h1{font-size:9vw;}
      h4{font-size:4.5vw;}
      .icon{font-size:6vw;}
    }
  }
  .work_holder:hover{
    cursor:pointer;
    .image_holder{
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    .text_holder{
      opacity:1;
    }
  }
  .workbg1{
    position: absolute;
    background: #333;
    top:0;
    left:0;
    color: white;
    .bg_holder{
      display:table-cell;
      vertical-align: middle;
      @media(max-width:11400px){
        width:33.33vw;
        height:16.66vw;
      }
      @media(max-width:992px){
        width:50vw;
        height:25vw;
      }
      @media(max-width:768px){
        width:100vw;
        height:50vw;
      }
      h1{
        @media(max-width:11400px){
          font-size:2.5vw;
        }
        @media(max-width:992px){
          font-size:4vw;
        }
        @media(max-width:768px){
          font-size:8vw;
        }
        font-family:Microsoft JhengHei;
      }
    }
  }
  .workbg2{
    position: absolute;
    background: #FF2D2D;
    @media(max-width:11400px){
      top:0;
      left:66.66vw;
    }
    @media(max-width:992px){
      top:0;
      left:50vw;
    }
    @media(max-width:768px){
      top:50vw;
      left:0;
    }
    .bg_holder{
      display:table-cell;
      vertical-align: middle;
      @media(max-width:11400px){
        width:16.66vw;
        height:16.66vw;
      }
      @media(max-width:992px){
        width:25vw;
        height:25vw;
      }
      @media(max-width:768px){
        width:50vw;
        height:50vw;
      }
      h3{
        color:white;
        @media(max-width:11400px){
          font-size:2vw;
        }
        @media(max-width:992px){
          font-size:3vw;
        }
        @media(max-width:768px){
          font-size:6vw;
        }
        font: sans-serif;
        font-weight:300;
        letter-spacing:.025em;
        line-height:170%;
      }
    }
    .triangle{
      width:0px; height:0px; border-width:10px 9px 10px 9px;border-style:solid; border-color:transparent transparent transparent #FF2D2D;position:relative;z-index:2;
      @media(max-width:11400px){
        left:16.66vw;
        top:-6vw;
      }
      @media(max-width:992px){
        left:25vw;
        top:-9vw;
      }
      @media(max-width:768px){
        left:50vw;
        top:-17vw;
      }
    }
  }
  .workbg3{
    position: absolute;
    @media(max-width:11400px){
      top:0;
      left:83.33vw;
    }
    @media(max-width:992px){
      top:0;
      left:75vw;
    }
    @media(max-width:768px){
      top:50vw;
      left:50vw;
    }
    background: #46A3FF;
    .bg_holder{
      background: url('linedddlogo.png') no-repeat 50% 50%;
      background-size: 70% auto;
      @media(max-width:11400px){
        width:16.66vw;
        height:16.66vw;
      }
      @media(max-width:992px){
        width:25vw;
        height:25vw;
      }
      @media(max-width:768px){
        width:50vw;
        height:50vw;
      }
    }
  }
  .workbg4{
    position: absolute;
    @media(max-width:11400px){
      top:16.66vw;
      left:0;
    }
    @media(max-width:992px){
      top:75vw;
      left:0;
    }
    @media(max-width:768px){
      top:350vw;
      left:0;
    }
    .bg_holder{
      background: url('work5bg.jpg') no-repeat 50% 50%;
      background-size: cover;
      @media(max-width:11400px){
        width:16.66vw;
        height:16.66vw;
      }
      @media(max-width:992px){
        width:25vw;
        height:25vw;
      }
      @media(max-width:768px){
        width:50vw;
        height:50vw;
      }
    }
  }
  @media(min-width:768px){
    .workbg5{
        position: absolute;
        background: white;
        @media(max-width:11400px){
          top:33.33vw;
          left:33.33vw;
        }
        @media(max-width:992px){
          top:100vw;
          left:50vw;
        }
        z-index:2;
        .bg_holder{
          display:table-cell;
          vertical-align:middle;
          @media(max-width:11400px){
            width:33.33vw;
            height:33.33vw;
          }
          @media(max-width:992px){
            width:50vw;
            height:50vw;
          }
          h1{
            color:black;
            @media(max-width:11400px){
              font: normal 3.1vw/3.5vw 'rainbow';
            }
            @media(max-width:992px){
              font: normal 5vw/5.5vw 'rainbow';
            }
            font-weight:800;
            line-height:130%;
            text-transform: uppercase;
            letter-spacing:2px;
          }
        }
    }
  }
  @media(min-width:992px){
    .workbg6{
      position: absolute;
      @media(max-width:11400px){
        top:66.66vw;
        left:33.33vw;
      }
      .bg_holder{
        background: url('work11bg.jpg') no-repeat 50% 50%;
        background-size: cover;
        width:33.33vw;
        height:16.66vw;
      }
    }
  }
  .work1{
    position: absolute;
    @media(max-width:11400px){
      top:16.66vw;
      left:16.66vw;
    }
    @media(max-width:992px){
      top:75vw;
      left:25vw;
    }
    @media(max-width:768px){
      top:350vw;
      left:50vw;
    }
    .image_border{
      @media(max-width:11400px){
        width:16.66vw;
        height:16.66vw;
      }
      @media(max-width:992px){
        width:25vw;
        height:25vw;
      }
      @media(max-width:768px){
        width:50vw;
        height:50vw;
      }
    }
    .image_holder{
      @media(max-width:11400px){
        width:16.66vw;
        height:16.66vw;
      }
      @media(max-width:992px){
        width:25vw;
        height:25vw;
      }
      @media(max-width:768px){
        width:50vw;
        height:50vw;
      }
    }
    .text_holder{
      @media(max-width:11400px){
        width:16.66vw;
        height:16.66vw;
      }
      @media(max-width:992px){
        width:25vw;
        height:25vw;
      }
      @media(max-width:768px){
        width:50vw;
        height:50vw;
      }
    }
  }
  .work2{
    position: absolute;
    @media(max-width:11400px){
      top:0;
      left:33.33vw;
    }
    @media(max-width:992px){
      top:25vw;
      left:0vw;
    }
    @media(max-width:768px){
      top:100vw;
      left:0vw;
    }
    .image_border{
      @media(max-width:11400px){
        width:33.33vw;
        height:33.33vw;
      }
      @media(max-width:992px){
        width:50vw;
        height:50vw;
      }
      @media(max-width:768px){
        width:100vw;
        height:100vw;
      }
    }
    .image_holder{
      @media(max-width:11400px){
        width:33.33vw;
        height:33.33vw;
      }
      @media(max-width:992px){
        width:50vw;
        height:50vw;
      }
      @media(max-width:768px){
        width:100vw;
        height:100vw;
      }
    }
    .text_holder{
      @media(max-width:11400px){
        width:33.33vw;
        height:33.33vw;
      }
      @media(max-width:992px){
        width:50vw;
        height:50vw;
      }
      @media(max-width:768px){
        width:100vw;
        height:100vw;
      }
    }
  }
  .work3{
    position: absolute;
    @media(max-width:11400px){
      top:33.33vw;
      left:0;
    }
    @media(max-width:992px){
      top:100vw;
      left:0vw;
    }
    @media(max-width:768px){
      top:400vw;
      left:0vw;
    }
    .image_border{
      @media(max-width:11400px){
        width:33.33vw;
        height:33.33vw;
      }
      @media(max-width:992px){
        width:50vw;
        height:50vw;
      }
      @media(max-width:768px){
        width:100vw;
        height:100vw;
      }
    }
    .image_holder{
      @media(max-width:11400px){
        width:33.33vw;
        height:33.33vw;
      }
      @media(max-width:992px){
        width:50vw;
        height:50vw;
      }
      @media(max-width:768px){
        width:100vw;
        height:100vw;
      }
    }
    .text_holder{
      @media(max-width:11400px){
        width:33.33vw;
        height:33.33vw;
      }
      @media(max-width:992px){
        width:50vw;
        height:50vw;
      }
      @media(max-width:768px){
        width:100vw;
        height:100vw;
      }
    }
  }
  .work4{
    position: absolute;
    @media(max-width:11400px){
      top:16.66vw;
      left:66.66vw;
    }
    @media(max-width:992px){
      top:25vw;
      left:50vw;
    }
    @media(max-width:768px){
      top:200vw;
      left:0;
    }
    .image_border{
      background:#79FF79;
      @media(max-width:11400px){
        width:33.33vw;
        height:50vw;
        padding:1.5vw;
      }
      @media(max-width:992px){
        width:50vw;
        height:75vw;
        padding:2vw;
      }
      @media(max-width:768px){
        width:100vw;
        height:150vw;
        padding:2.5vw;
      }
    }
    .image_holder{
      @media(max-width:11400px){
        width:30.33vw;
        height:47vw;
      }
      @media(max-width:992px){
        width:46vw;
        height:71vw;
      }
      @media(max-width:768px){
        width:95vw;
        height:145vw;
      }
    }
    .text_holder{
      @media(max-width:11400px){
        width:33.33vw;
        height:50vw;
      }
      @media(max-width:992px){
        width:50vw;
        height:75vw;
      }
      @media(max-width:768px){
        width:100vw;
        height:150vw;
      }
    }
  }
  .work5{
    position: absolute;
    @media(max-width:11400px){
      top:66.66vw;
      left:0;
    }
    @media(max-width:992px){
      top:150vw;
      left:0;
    }
    @media(max-width:768px){
      top:550vw;
      left:0;
    }
    .image_border{
      @media(max-width:11400px){
        width:33.33vw;
        height:16.66vw;
      }
      @media(max-width:992px){
        width:50vw;
        height:25vw;
      }
      @media(max-width:768px){
        width:100vw;
        height:50vw;
      }
    }
    .image_holder{
      @media(max-width:11400px){
        width:33.33vw;
        height:16.66vw;
      }
      @media(max-width:992px){
        width:50vw;
        height:25vw;
      }
      @media(max-width:768px){
        width:100vw;
        height:50vw;
      }
    }
    .text_holder{
      @media(max-width:11400px){
        width:33.33vw;
        height:16.66vw;
      }
      @media(max-width:992px){
        width:50vw;
        height:25vw;
      }
      @media(max-width:768px){
        width:100vw;
        height:50vw;
      }
    }
  }
  .work6{
    position: absolute;
    @media(max-width:11400px){
      top:66.66vw;
      left:66.66vw;
    }
    @media(max-width:992px){
      top:150vw;
      left:50vw;
    }
    @media(max-width:768px){
      top:500vw;
      left:0;
    }
    .image_border{
      @media(max-width:11400px){
        width:33.33vw;
        height:16.66vw;
      }
      @media(max-width:992px){
        width:50vw;
        height:25vw;
      }
      @media(max-width:768px){
        width:100vw;
        height:50vw;
      }
    }
    .image_holder{
      @media(max-width:11400px){
        width:33.33vw;
        height:16.66vw;
      }
      @media(max-width:992px){
        width:50vw;
        height:25vw;
      }
      @media(max-width:768px){
        width:100vw;
        height:50vw;
      }
    }
    .text_holder{
      @media(max-width:11400px){
        width:33.33vw;
        height:16.66vw;
      }
      @media(max-width:992px){
        width:50vw;
        height:25vw;
      }
      @media(max-width:768px){
        width:100vw;
        height:50vw;
      }
    }
  }
  .works:hover{
    -webkit-transform: translate3d(0, -310px, 0);
    transform: translate3d(0, -310px, 0);
    .image1{
      -webkit-filter: grayscale(0);
    }
  }
}

/* sponsors */

.sponsors{
  margin-bottom: 150px;
  .title{
    padding: 50px 0 100px 0;
    font-size: 30px;
  }
  .sponsorbg1{background:url('sponsor1.png') no-repeat 50% 50%;}
  .sponsorbg2{background:url('sponsor2.png') no-repeat 50% 50%;}
  .sponsorbg3{background:url('sponsor3.jpg') no-repeat 50% 50%;}
  .sponsorbg4{background:url('sponsor4.png') no-repeat 50% 50%;}
  .sponsorbg5{background:url('sponsor5.png') no-repeat 50% 50%;}
  .sponsorbg6{background:url('sponsor6.png') no-repeat 50% 50%;}
  .sponsorbg7{background:url('sponsor7.png') no-repeat 50% 50%;}
  .thumbnail > .sponsorbg{
    background-size:contain;
    height:150px;
    width:auto;
    transition:.3s;
    @media(min-width:992px){
      -webkit-filter: grayscale(1);
    }
  }
  @media(min-width:992px){
    .thumbnail:hover{
      .sponsorbg{
        -webkit-filter: grayscale(0);
      }
    }
  }
}

/* banner */

.banner{
  .banner_holder{
    overflow: hidden;
    position:relative;
    height:20vw;
    @media(max-width:768px){
      height:45vw;
    }
    .banner1{top:0;left:0;}
    .banner2{
      top:0;left:33.33vw;
      @media(max-width:768px){
        top:0;left:50vw;
      }
    }
    .banner3{
      top:0;left:66.66vw;
      @media(max-width:768px){
        top:15vw;left:0vw;
      }
    }
    .banner4{
      top:10vw;left:0;
      @media(max-width:768px){
        top:15vw;left:50vw;
      }
    }
    .banner5{
      top:10vw;left:33.33vw;
      @media(max-width:768px){
        top:30vw;left:0vw;
      }
    }
    .banner6{
      top:10vw;left:66.66vw;
      @media(max-width:768px){
        top:30vw;left:50vw;
      }
    }
    .image_holder{
      position: absolute;
      width:33.33vw;
      height:10vw;
      @media(max-width:768px){
        width:50vw;
        height:15vw;
      }
    }
  }
}

/* contactus */

.contactus{
  position: relative;
  transition: 2s;
  background: url('contactus_bg.jpg') no-repeat 50% 50%;
  background-size: 100% auto;
  background-position:top;
  .bg-overlay.pattern{
    transition: .3s;
  }
  #headingOne{
    overflow: hidden;
    position: relative;
    height: 150px;
  }
  .default-text,.hover-text,.complete-text{
    transition: .3s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    color: white;
    opacity: 0;
    h1{
      position: relative;
      top: 15%;
      font-weight: 400;
      @media(max-width:768px){
        top:20%;
        font-size:39px;
      }
    }
  }
  .default-text{
    opacity: 1;
  }
  #hover-text-trigger{
    cursor: pointer;
  }
  h1{
    font-family: Microsoft JhengHei;
    font-size: 50px;
  }
  .panel-body{
    padding: 20px 0 50px 0;
    .emailform{
      max-width:800px;
      margin:0 auto;
    }
  }
  .form-control::-webkit-input-placeholder{
    color: #E0E0E0;
    font-family: Microsoft JhengHei;
    font-size: 14px;
  }
  .form-control{
    background-color:rgba(0,0,0,0);
    color:white;
    border-color: #FFF;
    border-radius: 0px;
    transition: all 0.2s linear 0s;
  }
  .form-control:focus{
    border-color: #00AEFF;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
  }
  .btn-default{
    font-family: Microsoft JhengHei;
    font-size: 15px;
    padding: 13px 40px;
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 5px;
    background: transparent;
    color: #fff;
    position: relative;
    margin-top: 20px;
    border-radius: 0px;
  }
  .btn-default,.btn-default.featured{
    -webkit-transition: all .3s linear 0s;
    -o-transition: all .3s linear 0s;
    /* transition: all .3s linear 0s; */
  }
  .btn-default:hover ,.btn-main:hover{
    background: #00AEFF;
    border-color:#00AEFF ;
    color: #fff;
  }
  .btn-default.featured{
    background: #00AEFF;
    border-color:#00AEFF ;
    color: #fff;

  }
  .btn-default.featured:hover{
    background: transparent;
    color: #222 ;
  }
}
.contactTrigger:hover{
  background-size: 110% auto;
  .bg-overlay.pattern{
    opacity:0;
  }
  .default-text{
    opacity:0;
  }
  .hover-text{
    opacity:1;
  }
}

#collapseOne.in{
  background: rgba(0,0,0,0);
}

.bg-overlay.pattern{
  background: url("pattern.png") repeat scroll 0% 0% transparent;
}

.bg-overlay{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.6);
}

/* error */

.error{
  text-align:center;
  display:inline-block;
  position:absolute;
  color:red;
  font-weight:bold;
  .nameok{color:green;}
  .emailok{color:green;}
  .emailchecking{color:black;}
}

.hidden{
  display:none;
}

/* declare */

.declare{
  margin-bottom:200px;
  .declare_declare{
    position:relative;
    margin:0px 0px 50px 0;
    overflow:scroll;
    height:300px;
    @media(min-width:768px){
      width:60%;
      left:20%;
    }
  }
}

/* form */

.form{
  margin-bottom:200px;
}

/* new */

.new{
  margin-bottom:200px;
}

/* confirm */

.confirm{
  margin-bottom:200px;
}

/* search */

.search{
  margin-bottom:200px;
}

/* searchindex */

.searchindex{
  margin-bottom:200px;
  overflow:hidden;
  .igs_holder{
    position: relative;
    padding-bottom:50px;
    @media(min-width:992px){
      padding: 0 300px 50px 300px;
    }
    .error_holder{
      position: absolute;
      top:40px;
      .igserror{
        left:20px;
        position: relative;
        color:red;
      }
    }
  }
  .picture_holder{
    position: relative;
    padding-bottom:80px;
    @media(min-width:992px){
      padding:0 200px 80px 200px;
    }
    .pictureerror{
      position: relative;
      color:red;
    }
  }
  .picturePreview{
    background-position: center center;
    background-size: contain;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline-block;
    background-repeat: no-repeat;
    width: 180px;
    height: 180px;
    position:relative;
    @media(max-width:768px){
      padding:0 20px;
      width:25vw;
      height:25vw;
    }
    .delete_holder{position: absolute;right:30px;top:3px;}
    .deleteButton{
      border:solid;
      width:27px;
      height:27px;
      border-radius: 90px;
      text-align: center;
      background: #6C6C6C;
      border-color: rgba(0,0,0,0);
      color:white;
      font-weight: 900;
      cursor:pointer;
      display: none;
      position: absolute;
    }
  }
  .uploadFile{
    display:none;
  }
}

.searchindex > .register_holder{
  width:20%;
  font-size:20px;
  font-family:Helvetica;
  margin-left:40%;
  @media(max-width:768px){
    width:30%;
    margin-left:35%
  }
}

/* registerstable */

.registerstable{
  margin-bottom:200px;
}

/* filetable */

.filetable{
  margin-bottom:200px;
}

/* worksindex */

.worksindex{
  margin-bottom:200px;
}