@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

@media(min-width:768px){}

body{
  padding-top: 80px;
  #add_image{
    background:url('home_bg.jpg') no-repeat;
    background-size:cover;
    color:#FFF;
    div{
      background-color:rgba(38,38,38,0.8);
      font-family:DFKai-sb;
    }
    .hometitle1{
      padding:15px 0px 0px 0px;
      width:15vw;
      height:5vw;
      font-size:2vw;
    }
    .hometitle2{
      padding:5px 0px 0px 0px;
      width:27vw;
      height:7vw;
      font-size:5vw;
      font-family:Helvetica;
    }
    .hometitle3{
      padding:0px 0px 20px 0px;
      width:50vw;
      height:7vw;
      font-size:5vw;
      font-family:Helvetica;
    }
    .hometitle4{
      padding:25px 0px 0px 0px;
      width:18vw;
      height:5.7vw;
      font-size:2.5vw;
      font-family:Microsoft JhengHei;
    }
    .hometitle5{
      padding:10px 0px 0px 0px;
      width:38vw;
      height:5vw;
      font-size:2.5vw;
      font-family:Microsoft JhengHei;
    }
    .signupbottom{
      margin:4vw 0vw 400px 0vw;
      background-color:#73BF00;
      font-family:Helvetica;
    }
  }
}

img.a{
  position:absolute;
  z-index:10;
}
img.b{
  opacity: 0;
}

img.largeimage{
  position: absolute;
  opacity: 0;
  z-index: -1;
}

textarea{
  resize: vertical;
}

.center{
  text-align: center;
}

.center h1{
  margin-bottom: 10px;
}

.intro{
  margin-top:-30px;
  background-color:#5B5B5B;
  color:#FFF;
  padding:50px 0px 50px 0px;
  div{
    padding:20px 50px 30px 50px;
  }
}

.sponsor{
  padding:50px 0px 50px 0px;
}

.hr{
  height:1px;
  background-color:#BEBEBE;
  width:80%;
}

.triangle{
  width:0px; height:0px; border-width:8px 5px 8px 5px;border-style:solid; border-color:transparent transparent black transparent;
}

.invertedtriangle{
  width:0px; height:0px; border-width:8px 5px 8px 5px;border-style:solid; border-color:black transparent transparent transparent;
}

html{
  -webkit-font-smoothing: antialiased;
}

/* works */

.works{
  position: relative;
  padding: 200px 0 1000px 0;
  margin:0 0 100px 0;
  .image_holder{
    width:32vw;
    height:16vw;
  }
  .work1{
    position: absolute;
    background: #333;
    top:0;
    height:16vw;
    color: white;
    .image_holder{
      display:table-cell;
      vertical-align: middle;
      h1{
        font-size:2.5vw;
        font-family:Microsoft JhengHei;
      }
    }
  }
  .work2{
    position: absolute;
    top:0;
    left:32vw;
    .image_holder{
      background: url('http://www.sharingame.org/media/original.jpg') no-repeat 50% 50%;
      background-size: cover;
      height:32vw;
      transition: 0.5s;
      -webkit-filter: opacity(1);
    }
    .image_holder:hover{
      opacity:0;
    }
  }
  .work3{
    position: absolute;
    background: #FF2D2D;
    top:0;
    left:64vw;
    height:16vw;
    .image_holder{
      display:table-cell;
      vertical-align: middle;
      h3{
        color:white;
        font-size:2vw;
        font: sans-serif;
        font-weight:300;
        letter-spacing:.025em;
        line-height:170%;
      }
      width:16vw;
    }
    .triangle{
      width:0px; height:0px; border-width:10px 9px 10px 9px;border-style:solid; border-color:transparent transparent transparent #FF2D2D; left:16vw; top:-6vw;position:relative;z-index:2;
    }
  }
  .work4{
    position: absolute;
    top:0;
    left:80vw;
    height:16vw;
    background: #46A3FF;
    .image_holder{
      background: url('linedddlogo.png') no-repeat 50% 50%;
      width:16vw;
    }
  }
  .work5{
    position: absolute;
    top:16vw;
    .image_holder{
      background: url('work5bg.jpg') no-repeat 50% 50%;
      background-size: cover;
      width:16vw;
    }
  }
  .work6{
    position: absolute;
    top:16vw;
    left:16vw;
    .image_holder{
      background: url('http://3dprint.com/wp-content/uploads/2014/12/3d2.jpg') no-repeat 50% 50%;
      background-size: cover;
      width:16vw;
    }
  }
  .work7{
    position: absolute;
    top:32vw;
    .image_holder{
      background: url('http://assets.inhabitat.com/wp-content/blogs.dir/1/files/2013/02/3doodler-3d-printing-pen.jpg') no-repeat 50% 50%;
      background-size: cover;
      height:32vw;
    }
  }
  .work8{
    position: absolute;
    background: white;
    top:32vw;
    left:32vw;
    height:32vw;
    width:32vw;
    .image_holder{
      display:table-cell;
      vertical-align:middle;
      height:32vw;
      h1{
        color:black;
        font: normal 3.1vw/3.5vw 'rainbow';
        font-weight:800;
        line-height:130%;
        text-transform: uppercase;
        letter-spacing:2px;
      }
    }
  }
  .work9{
    position: absolute;
    top:16vw;
    left:64vw;
    .image_holder{
      background: url('http://www.odd.org.nz/spiderlpblackred-bodybig.jpg') no-repeat 50% 50%;
      background-size: cover;
      height:48vw;
    }
  }
  .work10{
    position: absolute;
    top:64vw;
    .image_holder{
      background: url('http://tudelft.gingerresearch.net/image/2015/10/23/3d_rex_3d_printed_tyrannosaurus_1.png') no-repeat 50% 50%;
      background-size: cover;
    }
  }
  .work11{
    position: absolute;
    top:64vw;
    left:32vw;
    .image_holder{
      background: url('work11bg.jpg') no-repeat 50% 50%;
      background-size: cover;
    }
  }
  .work12{
    position: absolute;
    top:64vw;
    left:64vw;
    .image_holder{
      background: url('https://static.dezeen.com/uploads/2015/06/Sofa-So-Good-by-Janne-Kyttanen_dezeen_bn01.jpg') no-repeat 50% 50%;
      background-size: cover;
    }
  }
  .works:hover{
    -webkit-transform: translate3d(0, -310px, 0);
    transform: translate3d(0, -310px, 0);
    .image1{
      -webkit-filter: grayscale(0);
    }
  }
}

/* contactus */

.contactus{
  position: relative;
  transition: 2s;
  background: url('contactus_bg.jpg') no-repeat 50% 50%;
  background-size: 100% auto;
  background-position:top;
  .bg-overlay.pattern{
    transition: .3s;
  }
  #headingOne{
    overflow: hidden;
    position: relative;
    height: 150px;
  }
  .default-text{
    transition: .3s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    color: white;
    opacity: 1;
    h1{
      position: relative;
      top: 15%;
      font-weight: 400;
    }
  }
  .hover-text{
    transition: .3s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    color: white;
    opacity: 0;
    h1{
      position: relative;
      top: 15%;
      font-weight: 400;
    }
  }
  #hover-text-trigger{
    cursor: pointer;
  }
  h1{
    font-family: Helvetica;
    font-size: 50px;
  }
  .panel-body{
    padding: 20px 0 50px 0;
    .emailform{
      max-width:800px;
      margin:0 auto;
    }
  }
  .form-control::-webkit-input-placeholder{
    color: #E0E0E0;
    font-family: Microsoft JhengHei;
    font-size: 14px;
  }
  .form-control{
    background-color:rgba(0,0,0,0);
    color:white;
    border-color: #FFF;
    border-radius: 0px;
    transition: all 0.2s linear 0s;
  }
  .form-control:focus{
    border-color: #00AEFF;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
  }
}
.contactTrigger:hover{
  background-size: 110% auto;
  -webkit-filter: brightness(1.5);
  .bg-overlay.pattern{
    opacity:0;
  }
  .default-text{
    opacity:0;
  }
  .hover-text{
    opacity:1;
  }
}

#collapseOne.in{
  background: rgba(0,0,0,0);
}

.bg-overlay.pattern{
  background: url("pattern.png") repeat scroll 0% 0% transparent;
}

.bg-overlay{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.6);
}

/* error */

.error{
  padding-top:6px;
  color:red;
  font-weight:bold;
  .nameok{color:green;}
  .emailok{color:green;}
  .emailchecking{color:black;}
}

.hidden{
  display:none;
}

/* header */

#logo{
  float:left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #5B5B5B;
  letter-spacing:-1px;
  padding-top: 9px;
  font-weight: bold;
}

/* footer */

footer{
  margin:100px 0px 50px 0px;
}

/* declare */

.declare{
  margin:0px 0px 50px 20vw;
  overflow:scroll;
  height:300px;
  width:60%;
}

/* button style */

.btn-default{
  font-family: Microsoft JhengHei;
  font-size: 15px;
  padding: 13px 40px;
  text-transform: uppercase;
  font-weight: 700;
  margin-right: 5px;
  background: transparent;
  color: #fff;
  position: relative;
  margin-top: 20px;
  border-radius: 0px;
}
.btn-default,.btn-default.featured{
  -webkit-transition: all .3s linear 0s;
  -o-transition: all .3s linear 0s;
  /* transition: all .3s linear 0s; */
}
.btn-default:hover ,.btn-main:hover{
  background: #00AEFF;
  border-color:#00AEFF ;
  color: #fff;
}
.btn-default.featured{
  background: #00AEFF;
  border-color:#00AEFF ;
  color: #fff;

}
.btn-default.featured:hover{
  background: transparent;
  color: #222 ;
}

.btn-main{
  padding: 13px 40px;
  text-transform: uppercase;
  font-weight: 500;
  margin-right: 5px;
  background: #2a2a2a;
  color: #fff;
  border-color: #2a2a2a;
  position: relative;
  border-radius: 25px;
}