@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body{
  padding-top: 80px;
  #add_image{
    background:url('home_bg.jpg') no-repeat;
    background-size:cover;
    color:#FFF;
    div{
      background-color:rgba(38,38,38,0.8);
      font-family:DFKai-sb;
    }
    .hometitle1{
      padding:15px 0px 0px 0px;
      width:15vw;
      height:5vw;
      font-size:2vw;
    }
    .hometitle2{
      padding:5px 0px 0px 0px;
      width:27vw;
      height:7vw;
      font-size:5vw;
      font-family:Helvetica;
    }
    .hometitle3{
      padding:0px 0px 20px 0px;
      width:50vw;
      height:7vw;
      font-size:5vw;
      font-family:Helvetica;
    }
    .hometitle4{
      padding:25px 0px 0px 0px;
      width:18vw;
      height:5.7vw;
      font-size:2.5vw;
      font-family:Microsoft JhengHei;
    }
    .hometitle5{
      padding:10px 0px 0px 0px;
      width:38vw;
      height:5vw;
      font-size:2.5vw;
      font-family:Microsoft JhengHei;
    }
    .signupbottom{
      margin:4vw 0vw 400px 0vw;
      background-color:#73BF00;
      font-family:Helvetica;
    }
  }
}

img.a{
  position:absolute;
  z-index:10;
}
img.b{
  opacity: 0;
}

section{
  overflow: auto;
}

textarea{
  resize: vertical;
}

.center{
  text-align: center;
}

.center h1{
  margin-bottom: 10px;
}

.intro{
  margin-top:-30px;
  background-color:#5B5B5B;
  color:#FFF;
  padding:50px 0px 50px 0px;
  div{
    padding:20px 50px 30px 50px;
  }
}

.sponsor{
  padding:50px 0px 50px 0px;
}

.hr{
  height:1px;
  background-color:#BEBEBE;
  width:80%;
}

/* error */

.error{
  padding-top:6px;
}

.hidden{
  display:none;
}

/* header */

#logo{
  float:left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #5B5B5B;
  letter-spacing:-1px;
  padding-top: 9px;
  font-weight: bold;
}

/* footer */

footer{
  margin:100px 0px 50px 0px;
}

/* declare */

.declare{
  margin:0px 0px 50px 20vw;
  overflow:scroll;
  height:300px;
  width:60%;
}