<header class="navbar navbar-fixed-top">
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" style="margin:5px 0px 0px 0px" id="logo" href="/">LINE DDD</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="declare">現在報名！</a></li>
        <li><a href="info">比賽資訊</a></li>
        <li><a href="search">報名查詢</a></li>
        <% if current_user %>
          <li><%= link_to("登出", destroy_user_session_path, method: :delete) %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>